body {
  background-image: linear-gradient(#3b1566, #5f4da8);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #d6d6ea;
}

.container-aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9384d0;
  padding: .4rem;
  border-radius: 15px;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
}

.music-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#image{
  width: 90%;
  min-width: 280px;
  max-width: 380px;
  border-radius: 10px;
}

#informacoes-faixa {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: .4rem 0 .4rem 0;
  font-size: 1.2rem;
}

#anterior, #proximo {
  font-size: 3rem;
}

#play-pause {
  font-size: 3rem;
}

#container-botoes {
  width: 90%;
  display: flex;
  justify-content: space-around;
  background-color: #5f4da8;
  padding: .5rem;
  border-radius: 15px;
  margin: .5rem;
}